<html lang=""en>
<head>
    <title>CampGrounds</title>
</head>
<body>
    <h1>All Campground</h1>
    <ul>
        <% for(let campground of campgrounds) { %>
            <li><%= campground.title %></li>
        <% } %>
    </ul>
</body>
</html>